.menu {
  font-family: MuseoSansCyrl;
}

.main__title {
  font-family: pt_serif;
}

.main__subtitle {
  font-family: pt_serif;
}

.main__descr {
  font-family: MuseoSansCyrl;
}

.main__button {
  font-family: MuseoSansCyrl;
}
