body {
  margin: 0;
  padding: 0;
}


.wrapper {
  background-image: url(img/green.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 89%;
  margin: auto;
  padding-top: 87px;
}

.logo {
    min-width: 146px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 95px;
}

.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 55%;
}

.menu__element {
    padding: 3px 19px 0px 17px;
    font: bold 23px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    cursor: pointer;
    position: static;
    letter-spacing: 0.2px;
}

.menu__element:last-child {
    padding-right: 10px;
    padding-left: 17px;
}

.menu__element:hover {
  opacity: 0.5;
}

.menu__element:after {
  display: block;
  content: ' ';
  height: 3px;
  width: 0;
  left: 0;
  background: #FFF;
  position: relative;
  transition: opacity .5s, width .3s;
}

.menu__element:hover:after {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
}

.texts {
  display: flex;
  flex-direction: column;
  position: static;
}

.main__title {
    font-family: pt_serif, arial, helvetica, sans-serif;
    overflow: hidden;
    color: #F8EEE4;
    position: relative;
}

.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 280px;
    margin: 142px 0px 0px 0px;
    padding: 0px 0px 0px 206px;
    font-weight: 900;
    letter-spacing: 10.5px;
    position: static;
}

.main__title_subtitle {
    overflow: hidden;
    font-size: 98px;
    padding: 0px 0px 0px 282px;
    position: absolute;
    letter-spacing: 4.2px;
    top: 201px;
}

.main__description {
    overflow: hidden;
    position: static;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 220px;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 24px;
    color: #F8EEE4;
    width: 52%;
    letter-spacing: 0.4px;
}

.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 40px 0 0px 224px;
    padding: 19px 29px 17px 88px;
    width: 17%;
}

.main__button:hover {
  background: rgba(0,0,0,0);
  color: #D4BEA3;
  box-shadow: inset 0 0 0 3px #D4BEA3;
  transition: background-color .8s linear;
}

.images {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
    margin-top: 226px;
    position: static;
    min-width: 46%;
}

.img {
  margin: 0px 18px 0px 14px;
}

.img:first-child {
  margin-left: 6px;
}

.img:last-child{
  margin-right: 0;
}

@media  screen and (min-width: 1851px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 87px;
}
.logo {
    min-width: 146px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 201px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 841px;
}
.menu__element {
    padding: 7px 36px 4px 2px;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    cursor: pointer;
    position: static;
    letter-spacing: 0.2px;
}
.menu__element:last-child {
    padding-right: 5px;
    padding-left: 8px;
}
.texts {
    display: flex;
    flex-direction: column;
    position: static;
}
.main__title {
    font-family: pt_serif, arial, helvetica, sans-serif;
    overflow: hidden;
    color: #F8EEE4;
    position: relative;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 10px 0px 0px 222px;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 25px;
    color: #F8EEE4;
    width: 53%;
    letter-spacing: 0.4px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 40px 0 0px 224px;
    padding: 15px 29px 17px 88px;
    width: 17%;
}
.images {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
    margin-top: 226px;
    position: static;
    min-width: 46%;
}
  .menu__box {
    display: none;
  }
  #menu__toggle {
  display: none;
  }
}

@media  screen and (max-width: 1850px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: auto;
    padding-top: 87px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 673px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 280px;
    margin: 142px 0px 0px 0px;
    padding: 0px 0px 0px 162px;
    font-weight: 900;
    letter-spacing: 10.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 98px;
    padding: 0px 0px 0px 248px;
    position: absolute;
    letter-spacing: 4.2px;
    top: 201px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 172px;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 24px;
    color: #F8EEE4;
    width: 59%;
    letter-spacing: 0.4px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 40px 0 0px 171px;
    padding: 19px 29px 17px 88px;
    width: 19%;
}
  .menu__box {
    display: none;
  }

  #menu__toggle {
  display: none;
  }

@media  screen and (max-width: 1685px) {
  .logo {
    min-width: 146px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 118px;
}
  .menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 671px;
}
  .menu__box {
    display: none;
  }

  #menu__toggle {
  display: none;
  }
}

@media  screen and (max-width: 1679px) {
  .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;
      padding-top: 87px;
  }
  .logo {
    min-width: 146px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 150px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 536px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 280px;
    margin: 142px 0px 0px 0px;
    padding: 0px 0px 0px 142px;
    font-weight: 900;
    letter-spacing: 10.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 98px;
    padding: 0px 0px 0px 226px;
    position: absolute;
    letter-spacing: 4.2px;
    top: 201px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 149px;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 24px;
    color: #F8EEE4;
    width: 70%;
    letter-spacing: 0.4px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 22px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 40px 0 0px 152px;
    padding: 19px 29px 17px 88px;
    width: 20%;
}
  .menu__box {
    display: none;
  }

  #menu__toggle {
  display: none;
  }
}

@media  screen and (max-width: 1367px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 63px;
}
.logo {
    min-width: 104px;
    min-height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 143px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 582px;
}
.menu__element {
    padding: 0px 10px 1px 16px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    cursor: pointer;
    position: static;
    letter-spacing: 0.2px;
}
.menu__element:last-child {
    padding-right: 0px;
    padding-left: 18px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 199px;
    margin: 97px 0px 0px 0px;
    padding: 6px 0px 0px 144px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 64px;
    padding: 0px 0px 0px 204px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 157px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 3px 0px 0px 155px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 55%;
    letter-spacing: 0.4px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 25px 0 0px 159px;
    padding: 12px 9px 14px 62px;
    width: 19%;
}
.images {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 160px;
    position: static;
    min-width: 46%;
}
.img:first-child {
    margin-left: 5px;
    height: 298px;
}
.img {
    margin: 0px 9px 0px 15px;
    height: 270px;
}
.img:last-child {
    margin-right: 0;
}
  .menu__box {
    display: none;
  }
  #menu__toggle {
  display: none;
  }
}

@media  screen and (max-width: 1280px) {
  .logo {
    min-width: 104px;
    min-height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 79px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 430px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 199px;
    margin: 97px 0px 0px 0px;
    padding: 6px 0px 0px 77px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 64px;
    padding: 0px 0px 0px 147px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 157px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 3px 0px 0px 83px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 66%;
    letter-spacing: 0.4px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 25px 0 0px 82px;
    padding: 12px 9px 14px 62px;
    width: 22%;
}
  .images {
      overflow-x: hidden;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 160px;
      position: static;
      min-width: 42%;
  }
  .menu__box {
    display: none;
  }
  #menu__toggle {
  display: none;
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 63px;
}
.logo {
    min-width: 104px;
    min-height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 41px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 430px;
}
.menu__element {
    padding: 7px 10px 1px 16px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    cursor: pointer;
    position: static;
    letter-spacing: 0.2px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 199px;
    margin: 97px 0px 0px 0px;
    padding: 6px 0px 0px 42px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 64px;
    padding: 0px 0px 0px 105px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 158px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 5px 0px 0px 57px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 92%;
    letter-spacing: 0.3px;
}
.main__button {
  overflow: hidden;
  align-items: center;
  font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  background: #D4BEA3;
  display: inline-block;
  border-radius: 31px;
  letter-spacing: 0.3px;
  position: static;
  margin: 25px 0 0px 54px;
  padding: 12px 8px 14px 67px;
  width: 32%;
}
  .images {
      overflow-x: hidden;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 160px;
      position: static;
      min-width: 58%;
  }
  .img:first-child {
      margin-left: 81px;
      height: 298px;
  }
  .menu__box {
    display: none;
  }
  #menu__toggle {
  display: none;
    }
  }

@media only screen and (max-width: 1020px) {
  .logo {
    min-width: 104px;
    min-height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 41px;
}
.menu {
    display: flex;
    align-items: center;
    color: #F8EEE4;
    position: static;
    padding-left: 351px;
}
.menu__element {
    padding: 7px 10px 1px 16px;
    font: bold 14px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    cursor: pointer;
    position: static;
    letter-spacing: 0.2px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 171px;
    margin: 52px 0px 0px 0px;
    padding: 6px 0px 0px 42px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 54px;
    padding: 0px 0px 0px 105px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 110px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 5px 0px 0px 57px;
    font: bold 12px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 70%;
    letter-spacing: 0.3px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 17px 0 0px 54px;
    padding: 11px 8px 14px 45px;
    width: 29%;
}
.images {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 19px;
    position: static;
    min-width: 56%;
}
.img:first-child {
    margin-left: 81px;
    height: 265px;
}
.img {
    margin: 0px 9px 0px 15px;
    height: 226px;
}

  .menu__box {
    display: none;
  }
  #menu__toggle {
  display: none;
  }
  }

@media only screen and (max-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: auto;
    padding-top: 63px;
    z-index: 1;
}
.logo {
    min-width: 104px;
    min-height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 0px;
}
  .menu {
    display: none;
  }
  .main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 165px;
    margin: 52px 0px 0px 0px;
    padding: 6px 0px 0px 42px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 51px;
    padding: 0px 0px 0px 105px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 110px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    padding: 5px 0px 0px 57px;
    font: bold 12px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 79%;
    letter-spacing: 0.3px;
}
.images {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 62px;
  position: static;
  min-width: 53%;
}
.img:first-child {
    margin-left: 28px;
    height: 229px;
}
.img {
    margin: 0px 9px 0px 8px;
    height: 204px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 17px 0 0px 54px;
    padding: 9px 8px 11px 45px;
    width: 31%;
}
  #menu__toggle {
  opacity: 0;
  }

  .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 173px 1px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
    transition-duration: .25s;
    z-index:1;
  }

  .navmenu__element {
    display: block;
    padding: 10px 30px;
    color: #000;
    font: 900 33px MuseoSansCyrl, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: .25s;
  }

  .navmenu__element:hover {
    background-color: #fff;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    transform: rotate(0);
    top: 0;
    background-color: #000;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    transform: rotate(90deg);
    top: 0;
    background-color: #000;
  }
  #menu__toggle:checked ~ .navmenu .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: auto;
    padding-top: 63px;
    z-index: 1;
}
.logo {
    min-width: 95px;
    min-height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 0px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 171px;
    margin: 52px 0px 0px 0px;
    padding: 6px 0px 0px 147px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 55px;
    padding: 0px 0px 0px 205px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 104px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    text-align: center;
    padding: 5px 0px 0px 121px;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 52%;
    letter-spacing: 0.3px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 21px 0 0px 226px;
    padding: 9px 8px 11px 45px;
    width: 16%;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    left: 591px;
    top: 71px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 173px 1px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  transition-duration: .25s;
  z-index:1;
}
.navmenu__element {
    display: block;
    padding: 9px 229px 27px 0px;
    color: #000;
    font: 900 29px MuseoSansCyrl, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: .25s;
}
#menu__toggle {
opacity: 0;
}
.menu {
  display: none;
}
.images {
  display: none;
}
}

@media screen and (max-width: 650px) {
  .main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 177px;
    margin: 52px 0px 0px 0px;
    padding: 6px 0px 0px 105px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 56px;
    padding: 0px 0px 0px 166px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 97px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    text-align: center;
    padding: 5px 0px 0px 72px;
    font: bold 17px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 74%;
    letter-spacing: 0.3px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 21px 0 0px 183px;
    padding: 13px 8px 11px 53px;
    width: 23%;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    left: 492px;
    top: 78px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 173px 1px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  transition-duration: .25s;
  z-index:1;
}
.navmenu__element {
    display: block;
    padding: 9px 1px 27px 0px;
    color: #000;
    font: 900 29px MuseoSansCyrl, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: .25s;
}
.menu {
    display: none;
}
  #menu__toggle {
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  .main__title_main {
      overflow: hidden;
      opacity: 0.4;
      font-size: 165px;
      margin: 52px 0px 0px 0px;
      padding: 6px 0px 0px 99px;
      font-weight: 900;
      letter-spacing: 9.5px;
      position: static;
  }
  .main__title_subtitle {
    overflow: hidden;
    font-size: 53px;
    padding: 0px 0px 0px 146px;
    position: absolute;
    letter-spacing: 5.2px;
    top: 97px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    text-align: center;
    padding: 5px 0px 0px 85px;
    font: bold 15px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 19px;
    color: #F8EEE4;
    width: 72%;
    letter-spacing: 0.3px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 19px 0 0px 169px;
    padding: 9px 8px 11px 45px;
    width: 22%;
}
  .menu {
    display: none;
  }
  .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 2;
      left: 438px;
      top: 70px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 152px 105px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
    transition-duration: .25s;
    z-index: 1;
}
    #menu__toggle {
   opacity: 0;
   }
    .images {
      display: none;
    }
  }
@media screen and (max-width: 490px) {
  .main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 164px;
    margin: 58px 0px 0px 0px;
    padding: 6px 0px 0px 87px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 56px;
    padding: 0px 0px 0px 135px;
    position: absolute;
    letter-spacing: 4.2px;
    top: 103px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    text-align: center;
    padding: 11px 0px 20px 53px;
    font: bold 17px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 21px;
    color: #F8EEE4;
    width: 81%;
    letter-spacing: 0px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 19px 0 0px 133px;
    padding: 11px 7px 12px 64px;
    width: 30%;
}
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    left: 390px;
    top: 75px;
}
#menu__toggle {
opacity: 0;
}
.images {
  display: none;
}
}
@media screen and (max-width: 440px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    padding-top: 42px;
    z-index: 1;
}
.logo {
    min-width: 105px;
    min-height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/logo1920.svg);
    position: static;
    margin-left: 0px;
}
.main__title_main {
    overflow: hidden;
    opacity: 0.4;
    font-size: 164px;
    margin: 58px 0px 0px 0px;
    padding: 6px 0px 0px 20px;
    font-weight: 900;
    letter-spacing: 9.5px;
    position: static;
}
.main__title_subtitle {
    overflow: hidden;
    font-size: 56px;
    padding: 0px 0px 0px 76px;
    position: absolute;
    letter-spacing: 4.2px;
    top: 115px;
}
.main__description {
    overflow: hidden;
    position: static;
    margin: 0;
    text-align: center;
    padding: 45px 0px 20px 39px;
    font: bold 19px MuseoSansCyrl, arial, helvetica, sans-serif;
    line-height: 21px;
    color: #F8EEE4;
    width: 79%;
    letter-spacing: 0px;
}
.main__button {
    overflow: hidden;
    align-items: center;
    font: bold 16px MuseoSansCyrl, arial, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    background: #D4BEA3;
    display: inline-block;
    border-radius: 31px;
    letter-spacing: 0.3px;
    position: static;
    margin: 19px 0 0px 77px;
    padding: 11px 7px 12px 64px;
    width: 37%;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    left: 317px;
    top: 52px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 173px 1px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  transition-duration: .25s;
  z-index:1;
}
.navmenu__element {
    display: block;
    padding: 15px 2px 10px 0px;
    color: #000;
    font: 900 29px MuseoSansCyrl, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: .25s;
    letter-spacing: 1.3px;
}
#menu__toggle:checked ~ .menu__btn > span::before {
    transform: rotate(0);
    top: -23px;
    left: -12px;
    background-color: #000;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    transform: rotate(90deg);
    top: -23px;
    left: -11px;
    background-color: #000;
}
.images {
    display: none;
}
.menu {
    display: none;
}
#menu__toggle {
    opacity: 0;
   }
}
